body{
  background-color: #005EB8;
  font-family: 'Spectral SC', serif;
  font-weight: 500;
  font-size: 17px;
}
.wrapper{
  margin: 0 auto;
  max-width: 1400px;
}
.registration{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  padding: 15px 50px 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  height: auto;
  width: 240px;
  margin-top: 100px;

}
label{
  margin-bottom: 7px;
}
input[type=text]{
  height: 30px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgb(229, 229, 229);
  background-color: rgb(242, 242, 242);
  outline:none;
}

input[type=email]{
  height: 30px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgb(229, 229, 229);
  background-color: rgb(242, 242, 242);
  outline:none;
}
input[type=radio]{
  margin-bottom: 5px;
}
.registration__radio{
  margin-bottom: 15px;
}
input[type=radio]:checked:after {
  background-color:rgb(242, 242, 242);
}
input[type=submit]{
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  border: 1px solid rgb(229, 229, 229);
  align-self: flex-end;
}