body {
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.navigation {
  display: grid;
  grid-template-columns: 95px 1fr;
  column-gap: 75px;
  align-items: center;
}

.navigation-list {
  flex-wrap:wrap;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  margin: 5px;
  padding: 15px;
}
