* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
}

body {
  background: #ffffff;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  padding-top:50px;
  margin-bottom:30px;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  padding-top:24px;
}
h3{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
}
.hashtag{
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-top: 15px;
  padding: 15px 0px;
}


.header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  height: 52px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  padding-top: 17px;
  z-index: 10;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px; 
}

.header__layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.header__name {
  margin-right: auto; 
  font-size: 20px;
  text-align: center;
}

.header__input {
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
  padding: 10px;
  text-align: center;
}

.header__to {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  color: #626262;
}

.white__button {
  background-color: #ffffff;
  color: #1d1d1d;
  margin-left: auto;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  width: 80px;
  height: 40px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.black__button {
  background: #000000;
  color: #ffffff;
  margin-left: 20px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  width: 80px;
  height: 40px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.shop__icon {
  margin-left: 20px;
}

.search__input {
  width: 100%;
  border: none;
  padding: 10px 0; 
  border-bottom: 0.5px solid #e0e0e0; 
  color: #dadada;
}

.restaurants__table{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 15px;
}
@media screen and (max-width: 400px) {
  .restaurants__table {
    
  }
}
.content {
  padding-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}
.cost__container{
  font-size: 14px;
  line-height: 21px;
  color:  #626262;
}
img{
  width: 100%;
  height: 256px;
  object-fit: cover;
}
.time__container{
  font-size: 13px;
  line-height: 21px;
  color:  #1D1D1D;
}
.footer{
  width: 100%;
  height: 550px;
  background:#262626;
  margin-top: 30px;
}
.footer__name{
  font-size: 26px;
  color: white;
  padding: 25px 0px;
}
.footer .wrapper > * + *{
  border-top: 1.5px solid #626262;

}
.footer__links{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 25px 0px;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #3B3B3B;

}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.text__link{
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
  padding:15px 0px;
  font-family: 'Roboto', sans-serif;
}
.container__links{
  display: flex;
  flex-direction: column;
}
.logo{
  z-index: 100;
  position: absolute;
}
.social__networks{
  display: inline-grid;
  grid-template-columns: repeat(3, 30px);
  grid-gap: 15px;
}
.download__buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;

}
.download__button{
  width: 120px;
  height: 40px;
}
.img__button{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.information{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 25px 0px;
}
.back{
  position:fixed;
  width: 80px;
  height: 80px;
  background: #59BD5A;
  bottom: 20px;
  right: 20px;
}
.arrow__icon{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(1);
}