@font-face {
  font-family: 'Roboto-Light';
  src: url("./fonts/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(./img/pattern-01.png);
  height: 100vh;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.75) inset;
}

.wrapper {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.search_logo {
  float: right;
  margin: 30px 30px;
}

.header__logo {
  margin-top: 10vh;
  width: 200px;
  height: auto;
}

h1 {
  font-family: 'Roboto-Light';
  font-size: 30px;
  color: #8a8a8a;
}

.header__description {
  font-family: 'Roboto-Regular';
  font-size: 19px;
  color: #9c9c9c;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 25px;
  grid-gap: 55px;
}

.content__column {
  background-color: white;
  height: 410px;
  width: 270px;
  -webkit-box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.06);
}

.content__column:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.09);
}

.content__column-img {
  height: auto;
  width: 220px;
  margin: 32px 20px 7px;
}

.content__column-colour_name {
  font-family: 'Roboto-Regular';
  font-size: 12px;
  color: #cbcbcc;
  margin-bottom: 12px;
}

.content__column-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-bottom: 20px;
}

.black__button {
  height: 18px;
  width: 18px;
  background-color: black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

.blue__button {
  height: 18px;
  width: 18px;
  background-color: #3b68dd;
  border-radius: 50%;
  border: none;
}

.beige__button {
  height: 18px;
  width: 18px;
  background-color: #c4b29b;
  border-radius: 50%;
  border: none;
}

.grey__button {
  height: 18px;
  width: 18px;
  background-color: #bebec8;
  border-radius: 50%;
  border: none;
}

.content__column-name {
  font-family: 'Roboto-Light';
  font-size: 19px;
  color: #9c9c9c;
}

.content__column-price {
  font-family: 'Roboto-Light';
  font-size: 25px;
  color: #e3814f;
}

.footer__text {
  font-family: 'Roboto-Light';
  font-size: 10px;
  color: #9c9c9c;
  margin-bottom: 15px;
}

.footer__information {
  font-family: 'Roboto-Regular';
  font-size: 10px;
  color: #9c9c9c;
}
