* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
}
body{
	background-color: #FDFAFA;
	overflow: visible;
}
a{
	position: relative;
	text-decoration: none;
}
.header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(38, 38, 38, 0.16);
  left: 0px;
  top: 0px;
  background: #ECECEC;
  z-index: 10;

}
.header__icon{
	height: 106px;
	width: 92px;
	margin-right: 40px;
}
.wrapper {
  margin: 0 auto;
  max-width: 1400px; 
}

.header__layout {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 385px 1fr;
  align-items: center;
 
}
.header__logo{
	display: flex;
	align-items: center;
}
.header__menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header__tittle{
	font-size: 25px;
	color: #3A3A3A;
	font-family: 'Spectral SC', serif;
	text-decoration: none;
}
.header__name{
	font-family: 'Spectral SC', serif;
	font-size: 36px;
	color: #948D8D;
	text-decoration: none;
}

.header__colortext {
    color: #3A3A3A;
 }
.content {
  width: 100%;
  padding: 120px 0px 0;
}
h1{
  font-family: 'Spectral SC', serif;
  font-size: 40px;
  color: #3A3A3A;
  font-weight: normal;
  padding:  30px 0px;
}
.content__restaurants{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 55px;
}

@media screen and (max-width: 1000px) {
	.content__restaurants {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 600px) {
	.content__restaurants {
		grid-template-columns: repeat(1, 1fr);
	}
}
.content__restaurants__restaurant{
	height: 400px;
	width: 100%;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	background-color: #FDFAFA;
}
.content__restaurants__restaurant_img{
	height: 280px;
	width: 100%;
	object-fit: cover;
}
h2{
	font-family: 'Spectral SC', serif;
	font-size: 20px;
	margin-left: 10px;
	color: #3A3A3A;
	font-style: normal;
	margin-bottom: 8px;
	margin-top: 6px;
}
.content__restaurants__restaurant_text{
	font-family: 'Roboto', sans-serif;
  	font-size: 20px;
  	margin-left: 10px;
  	color: #3F3E3E;
  	font-weight: normal;
}
.content__restaurants__restaurant_price{
	font-family: 'Roboto', sans-serif;
  	font-size: 17px;
  	margin-left: 10px;
  	color: #948D8D;
  	font-weight: normal;
  	margin-top: 20px;
}
.content__interesting__img{
	height: 280px;
	width: 410px;
}
.content__interesting__img:after{
	position: absolute; 
	top: 0;
	left: 0;
	bottom: 0;
  	right: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: linear-gradient(to top, rgba(255, 0, 0, 0.8)0%, rgba(0, 0, 0, 0.1)100%);
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	padding-top: 70px;
}
@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 150px;
	right: 45px;
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px){
	.modal-content {
			width: 100%;
	}
}
.content__restaurants__recommend {
	object-fit: cover;
	width: 100%;
	height: 300px;
	position: relative;
	color: white;
	text-decoration: none;
	font-family: 'Spectral SC', serif;
	font-size: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.content__restaurants__recommend-title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
}

.content__restaurants__recommend_pizza {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9)), url('content/pizza1.jpg');
}

.content__restaurants__recommend_kbzu {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9)), url('content/kbzu.jpg');
}

.content__restaurants__recommend_breakfast {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9)), url('content/breakfast.jpg');
}

li{
	font-family: 'Roboto', sans-serif;
  	font-size: 20px;
  	color: #3A3A3A;
  	margin-top: 15px;
  	margin-bottom: 15px;
}
.footer{
  width: 100%;
  height: 450px;
  background:#262626;
  margin-top: 50px;
}
.footer .wrapper > * + *{
  border-top: 1.5px solid #626262;

}
.footer__links{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 25px 15px;
}
.social__networks{
  display: inline-grid;
  grid-template-columns: repeat(3, 30px);
  grid-gap: 15px;
}
.text__link{
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
  padding:15px 0px;
  font-family: 'Roboto', sans-serif;
}
h3{
	font-family: 'Roboto', sans-serif;
  	font-size: 20px;
  	color: #FFFFFF;
  	padding-top: 15px;
  	padding-bottom: 15px;
}
.container__links{
  display: flex;
  flex-direction: column;
}
.download__buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;

}
.download__button{
  width: 136px;
  height: 40px;
  margin: 0 10px;
}
.img__button{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.information{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
h4{
	font-family: 'Roboto', sans-serif;
  	font-size: 12px;
  	color: #FFFFFF;
}
.forma{
	height: 100%;
	width: 550px;
	margin: 10px;
}
.forma__object{
	margin: 7px;
}

.table{
	margin-top: 30px;
}
.back{
  position:fixed;
  width: 80px;
  height: 80px;
  bottom: 20px;
  right: 20px;
}

